# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\桌面\Thread_Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
